{% extends "layout.html" %}
{% block body %}
{% load crispy_forms_tags %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <form style="padding-top:20px;" method="post" enctype="multipart/form-data">
            <h3>Makaleyi Güncelle</h3>
            <hr>
            {% csrf_token %}
            {{ form.media }}
            {{ form|crispy }}
            <br>
            <button type="submit" class="btn btn-success">Güncelle</button>
        </form>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
{% endblock body %}